#camContainer{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin: 0px !important;
    padding: 0px !important;
}
#camContainer *{
    margin: 0px !important;
    padding: 0px !important;
}
.img-overlay-wrap {
    /* position: relative; */
    overflow: hidden;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.1s ease;
    object-fit: cover;
    transition: filter 0.1s ease;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
}


/* .img-overlay-wrap:hover {
    transform: rotate( 15deg );
} */
