<html>
  <title>Axiscope</title>

  <head>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    >
    </script>

    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
      crossorigin="anonymous"
    >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
      crossorigin="anonymous"
    >
    </script>

    <script>var printer_url = "{{ printer_url() }}";</script>
    <script src="./js/index.js"></script>
    <script src="./js/camera.js"></script>
    <link rel="stylesheet" href="./css/camera.css">
  </head>

  <body data-bs-theme="dark">
    <p>add gcode sender</p>

    <div class="container text-center">
        <div class="row">
            <!-- ----------- body.jinja------------------>
            <div class="col p-3">
                <div class="border border-secondary-subtle rounded bg-body-tertiary p-2">
                    <div class="row p-2 pb-2">
                        <div id="camContainer" class="img-overlay-wrap">
                        <img id="zoom-image" src="" width="800"/>
                        <svg viewBox="0 0 200 200">
                            <circle cx="100" cy="75" r="50" stroke="red" stroke-width="0.25" fill="none"/>
                            <line x1="100" y1="15" x2="100" y2="135" stroke="red" stroke-width="0.25" />
                            <line x1="40" y1="75" x2="160" y2="75" stroke="red" stroke-width="0.25" />
                        </svg>
                        </div>
                        <div class="row p-2">
                        <div class="col-1">
                            <i class="bi bi-zoom-out"></i>
                        </div>
                        <div class="col-10">
                            <input type="range" class="form-range" min="0" max="400" id="zoom-range">
                        </div>
                        <div class="col-1">
                            <i class="bi bi-zoom-in"></i>
                        </div>
                        </div>
                    
                        <div class="row p-2">
                        <div class="col-1">
                            <i class="bi bi-brightness-low"></i>
                        </div>
                        <div class="col-10">
                            <input type="range" class="form-range" min="0" max="400" id="contrast-range">
                        </div>
                        <div class="col-1">
                            <i class="bi bi-brightness-high"></i>
                        </div>
                        </div>
                    </div>
                        <!---------------------------- positioning --------------------->
                    <div id="positioning">
                        <div class="row justify-content-center">
                        <ul class="list-group list-group-horizontal-sm justify-content-center pb-2">
                            <li class="list-group-item"><span>X: </span><span id="pos-x">0.0</span></li>
                            <li class="list-group-item"><span>Y: </span><span id="pos-y">0.0</span></li>
                            <li class="list-group-item"><span>Z: </span><span id="pos-z">0.0</span></li>
                        </ul>
                        </div>
                    
                        <div class="row justify-content-center pb-1">
                        {# <button type="button" class="btn btn-sm btn-secondary border w-50 ps-5 pe-5" id="capture-pos">CAPTURE CURRENT POSITION</button> #}
                        </div>
                    
                        <div class="row">
                        <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Homing Toolbar">
                            <div class="btn-group btn-group-sm ps-5 pe-5 pb-1" role="group" aria-label="">
                            <button type="button" class="btn btn-danger border" id="home-all" data-homed="false" data-url="">HOME ALL</button>
                            <button type="button" class="btn btn-danger border" id="qgl" data-qgl="false" data-url="">QGL</button>
                            <button type="button" class="btn btn-danger border" id="disable-motors" data-motoron="false" data-url="">DISABLE</button>
                            </div>
                        </div>
                        </div>
                        <div id="BouncePositionBar"></div>
                        <div id="BigPositionBar"></div>
                    </div>
                    <!-- -------------------------- positioning ------------------- -->
                </div>
            </div>
            <div class="col p-3" id="tools-list">
                <ul class="list-group">
                    {% for tool in tools %}
                    {% set is_active = tool == current_tool %}
                    {% set change_gcode = printer_url('/printer/gcode/script?script=T') + tool|string %}
            
                    <li class="list-group-item bg-body-tertiary p-2">
                        <div class="container">
                        <div class="row">
                            <div class="col-2">
                            <button 
                                type="button"
                                class="btn btn-secondary btn-sm w-100 h-100 {{ 'disabled' if is_active or not initialized else '' }}"
                                id="toolchange"
                                name="T{{ tool }}"
                                data-tool="{{ tool }}"
                                
                            >
                                <h1>T{{ tool }}</h1>
                            </button>
                            </div>
            
                            {% if tool == 0 %}
                            <div class="col-6" >
                                {# ----------------------- #}
                                <button type="button" class="btn btn-sm btn-secondary fs-6 border text-center h-100 w-100 ps-5 pe-5" style="padding-bottom:5px; padding-top:5px;" id="capture-pos">CAPTURE <br/> CURRENT <br/> POSITION</button>
                            </div>
            
                            <div class="col-4 border rounded bg-dark">
                                <div class="row">
                                <span class="fs-6 lh-sm pt-1 pb-1"><small>Captured Position</small></span>
                                <div class="row justify-content-center">
                                    <div class="col-1 ms-4">
                                    <span class="fs-5 lh-sm"><small>X:</small></span>
                                    </div>
                                    <div class="col-6">
                                    <span class="fs-5 lh-sm" id="captured-x" data-axis="x"><small></small></span>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-1 ms-4">
                                    <span class="fs-5 lh-sm"><small>Y:</small></span>
                                    </div>
                                    <div class="col-6">
                                    <span class="fs-5 lh-sm" id="captured-y" data-axis="y"><small></small></span>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-1 ms-4">
                                    <span class="fs-5 lh-sm"><small>Z:</small></span>
                                    </div>
                                    <div class="col-6">
                                    <span class="fs-5 lh-sm" id="captured-z" data-axis="z"><small></small></span>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-6">
                                <div class="row pb-4">
                                    <div class="input-group ps-1 pe-1">
                                    <button 
                                        class="btn btn-secondary {{ 'disabled' if not is_active else '' }}" 
                                        type="button" 
                                        id="T{{ tool }}-fetch-x" 
                                        data-axis="x" 
                                        data-tool="{{ tool }}" 
                                    >X</button>
                                    <input 
                                        type="number" 
                                        name="T{{ tool }}-x-pos"
                                        class="form-control" 
                                        placeholder="0.0" 
                                        aria-label="Grab Current X Position" 
                                        aria-describedby="x-axis" 
                                        data-axis="x" 
                                        data-tool="{{ tool }}" 
                                        {{ 'disabled' if not is_active else '' }}
                                    >
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="input-group ps-1 pe-1">
                                    <button 
                                        class="btn btn-secondary {{ 'disabled' if not is_active else '' }}" 
                                        type="button" 
                                        id="T{{ tool }}-fetch-y" 
                                        data-axis="y" 
                                        data-tool="{{ tool }}" 
                                    >Y</button>
                                    <input 
                                        type="number" 
                                        name="T{{ tool }}-y-pos"
                                        class="form-control" 
                                        placeholder="0.0" 
                                        aria-label="Grab Current Y Position" 
                                        aria-describedby="y-axis" 
                                        data-axis="y" 
                                        data-tool="{{ tool }}" 
                                        {{ 'disabled' if not is_active else '' }}
                                    >
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-4 border rounded bg-dark">
                                <div class="row">
                                <div class="col-6 pt-1 pb-1">
                                    <div class="row pb-1">
                                    <span class="fs-6 lh-sm text-secondary"><small>Current X</small></span>
                                    <span class="fs-5 lh-sm text-secondary" id="T{{ tool }}-x-offset"><small>{{ tools[tool].gcode_x_offset|default(0.0) }}</small></span>
                                    </div>
                                    <div class="row">
                                    <span class="fs-6 lh-sm text-secondary"><small>Current Y</small></span>
                                    <span class="fs-5 lh-sm text-secondary" id="T{{ tool }}-y-offset"><small>{{ tools[tool].gcode_y_offset|default(0.0) }}</small></span>
                                    </div>
                                </div>
            
                                <div class="col-6 pt-2 pb-2 getGcodes" toolId="{{tool}}">
                                    <div class="row pb-1">
                                    <span class="fs-6 lh-sm"><small>New X</small></span>
                                    <span class="fs-5 lh-sm" id="T{{ tool }}-x-new"><small>0.0</small></span>
                                    <input type="text" hidden="hidden" id="T{{ tool }}-x-gcode" axis="x" value="">
                                    </div>
                                    <div class="row">
                                    <span class="fs-6 lh-sm"><small>New Y</small></span>
                                    <span class="fs-5 lh-sm" id="T{{ tool }}-y-new"><small>0.0</small></span>
                                    <input type="text" hidden="hidden" id="T{{ tool }}-y-gcode" axis="y" value="0">
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %}
            
                        </div>
                        </div>
                    </li>
            
            
            
                    {# <li class="list-group-item bg-body-tertiary">A second item</li> #}
            
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  </body>

  <footer></footer>
</html>