<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://127.0.0.1,http://localhost" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
