{% block camera %}
  <div id="camContainer" class="img-overlay-wrap">
    <img id="zoom-image" src="{{ printer_url(settings['camera_path']) }}" width="800"/>
    {% include "crosshair.jinja" %}
  </div>
  <div class="row p-2">
    <div class="col-1">
      <i class="bi bi-zoom-out"></i>
    </div>
    <div class="col-10">
      <input type="range" class="form-range" min="0" max="400" id="zoom-range">
    </div>
    <div class="col-1">
      <i class="bi bi-zoom-in"></i>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-1">
      <i class="bi bi-brightness-low"></i>
    </div>
    <div class="col-10">
      <input type="range" class="form-range" min="0" max="400" id="contrast-range">
    </div>
    <div class="col-1">
      <i class="bi bi-brightness-high"></i>
    </div>
  </div>
{% endblock camera %}