<div id="positioning">
  <div class="row justify-content-center">
    <ul class="list-group list-group-horizontal-sm justify-content-center pb-2">
      <li class="list-group-item"><span>X: </span><span id="pos-x">0.0</span></li>
      <li class="list-group-item"><span>Y: </span><span id="pos-y">0.0</span></li>
      <li class="list-group-item"><span>Z: </span><span id="pos-z">0.0</span></li>
    </ul>
  </div>

  <div class="row justify-content-center pb-1">
    {# <button type="button" class="btn btn-sm btn-secondary border w-50 ps-5 pe-5" id="capture-pos">CAPTURE CURRENT POSITION</button> #}
  </div>

  <div class="row">
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Homing Toolbar">
      <div class="btn-group btn-group-sm ps-5 pe-5 pb-1" role="group" aria-label="">
        <button type="button" class="btn btn-danger border" id="home-all" data-homed="false" data-url="{{ printer_url('/printer/gcode/script?script=G28') }}">HOME ALL</button>
        <button type="button" class="btn btn-danger border" id="qgl" data-qgl="false" data-url="{{ printer_url('/printer/gcode/script?script=QUAD_GANTRY_LEVEL') }}">QGL</button>
        <button type="button" class="btn btn-danger border" id="disable-motors" data-motoron="false" data-url="{{ printer_url('/printer/gcode/script?script=M84') }}">DISABLE</button>
      </div>
    </div>
  </div>

  {% for axis in ["X", "Y"] %}
    <div class="row pb-1">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Movement Toolbar">
        <div class="btn-group btn-group-sm ps-5 pe-5" role="group" aria-label="">
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, -0.01) }}">-0.01</button>
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, -0.05) }}">-0.05</button>
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, -0.1)  }}">-0.10</button>
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, -0.5)  }}">-0.50</button>
          <button type="button" class="btn btn-dark border border-dark" data-url="{{ printer_url('/printer/gcode/script?script=G28') + axis }}" id="home-fine-{{ axis|lower }}">{{ axis }}</button>
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, 0.5)   }}">+0.50</button>
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, 0.10)  }}">+0.10</button>
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, 0.05)  }}">+0.05</button>
          <button type="button" class="btn btn-secondary border" data-url="{{ bounce_move_url(axis, 0.01)  }}">+0.01</button>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="row pt-3 justify-content-center">
    {% for axis in ["X", "Y", "Z"] %}
      <div class="row pb-1 ">
        <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Movement Toolbar">
          <div class="btn-group btn-group-sm ps-5 pe-5" role="group" aria-label="">
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, -1)   }}">-1</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, -5)   }}">-5</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, -10)  }}">-10</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, -50)  }}">-50</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, -100) }}">-100</button>
            <button type="button" class="btn btn-dark border border-dark" data-url="{{ printer_url('/printer/gcode/script?script=G28') + axis }}" id="home-course-{{ axis|lower }}">{{ axis }}</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, 100)  }}">+100</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, 50)   }}">+50</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, 10)   }}">+10</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, 5)    }}">+5</button>
            <button type="button" class="btn btn-secondary border" data-url="{{ course_move_url(axis, 1)    }}">+1</button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
